<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="operatorInfo.css"/>
    <link type="text/css" rel="styleSheet" href="css/skillType.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    {% if data and data.info %}
    <div style="background-image: url('{{ background_url }}')" class="background">
        <div class="left">
            <div>
                <div class="operator-attr">
                    <div class="attr" title="最大生命值">
                        <div>{{ data.detail.maxHp }}{% if data.detail.maxHp_trust %}<span class="a">{{ data.detail.maxHp_trust }}</span>{% endif %}{% if data.detail.maxHp_module %}<span class="b">{{ data.detail.maxHp_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="攻击力">
                        <div>{{ data.detail.atk }}{% if data.detail.atk_trust %}<span class="a">{{ data.detail.atk_trust }}</span>{% endif %}{% if data.detail.atk_module %}<span class="b">{{ data.detail.atk_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="防御力">
                        <div>{{ data.detail.def }}{% if data.detail.def_trust %}<span class="a">{{ data.detail.def_trust }}</span>{% endif %}{% if data.detail.def_module %}<span class="b">{{ data.detail.def_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="魔法抗性">
                        <div>{{ data.detail.magicResistance }}{% if data.detail.magicResistance_trust %}<span class="a">{{ data.detail.magicResistance_trust }}</span>{% endif %}{% if data.detail.magicResistance_module %}<span class="b">{{ data.detail.magicResistance_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="攻击速度">
                        <div>{{ data.detail.attackSpeed }}{% if data.detail.attackSpeed_trust %}<span class="a">{{ data.detail.attackSpeed_trust }}</span>{% endif %}{% if data.detail.attackSpeed_module %}<span class="b">{{ data.detail.attackSpeed_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="攻击间隔">
                        <div>{{ data.detail.baseAttackTime }}{% if data.detail.baseAttackTime_trust %}<span class="a">{{ data.detail.baseAttackTime_trust }}</span>{% endif %}{% if data.detail.baseAttackTime_module %}<span class="b">{{ data.detail.baseAttackTime_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="阻挡数">
                        <div>{{ data.detail.blockCnt }}{% if data.detail.blockCnt_trust %}<span class="a">{{ data.detail.blockCnt_trust }}</span>{% endif %}{% if data.detail.blockCnt_module %}<span class="b">{{ data.detail.blockCnt_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="部署费用">
                        <div>{{ data.detail.cost }}{% if data.detail.cost_trust %}<span class="a">{{ data.detail.cost_trust }}</span>{% endif %}{% if data.detail.cost_module %}<span class="b">{{ data.detail.cost_module }}</span>{% endif %}</div>
                    </div>
                    <div class="attr" title="再部署时间">
                        <div>{{ data.detail.respawnTime }}{% if data.detail.respawnTime_trust %}<span class="a">{{ data.detail.respawnTime_trust }}</span>{% endif %}{% if data.detail.respawnTime_module %}<span class="b">{{ data.detail.respawnTime_module }}</span>{% endif %}秒</div>
                    </div>
                    <div class="attr" title="势力">
                        <div>{{ data.info.nation }}</div>
                    </div>
                    <div class="attr" title="阵营">
                        <div>{{ data.info.group }}</div>
                    </div>
                    <div class="attr" title="队伍">
                        <div>{{ data.info.team }}</div>
                    </div>
                    <div class="attr" title="种族">
                        <div>{{ data.info.race }}</div>
                    </div>
                    <div class="attr" title="画师">
                        <div>{{ data.info.drawer }}</div>
                    </div>
                    <div class="attr" title="生日">
                        <div>{{ data.info.birthday }}</div>
                    </div>
                </div>
                <div>
                    <div class="title" style="width: 120px">潜能提升</div>
                    {% for item in data.potential %}
                    <div class="potential">
                        <img style="width: 25px;margin-right: 10px"
                             src="../rank/{{ item.potential_rank + 1 }}.png"
                             alt="rank">
                        {{ item.potential_desc }}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="title" style="width: 120px;margin-top: 5px">真名</div>
                    {% if data.info.real_name %}
                        {% for item in data.info.real_name %}
                        <div>{{ item }}</div>
                        {% endfor %}
                    {% else %}
                    <div>未知</div>
                    {% endif %}
                </div>
                <div>
                    <div class="title" style="width: 120px;margin-top: 5px">CV</div>
                    {% if data.info.cv_list %}
                    <table>
                        {% for cv in data.info.cv_list %}
                        <tr>
                            <td>{{ cv.lang }}：</td>
                            <td>{{ cv.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <div>未知</div>
                    {% endif %}
                </div>
            </div>
            <div class="operator-name">
                <div class="range" style="margin: 15px 0">{{ data.info.range_html | safe }}</div>
                <div class="class-info">
                    <div style="width: 60px;padding: 5px;background: #000">
                        <img style="width: 100%"
                             src="{{ data.info.classes_icon_url }}"
                             alt="classify">
                    </div>
                    <div class="rarity">
                        <div style="font-size: 30px;display: flex">
                            {% for n in range(data.info.rarity) %}★{% endfor %}
                        </div>
                        <div>{{ data.info.classes }} - {{ data.info.classes_sub }}</div>
                    </div>
                </div>
                <div class="tags">
                    {% if data.info.is_sp %}<span style="background: #9c27b0">异格干员</span>{% endif %}
                    {% for item in data.info.tags %}<span>{{ item }}</span>{% endfor %}
                </div>
                <div class="trait">{{ data.detail.operator_trait_html | safe }}</div>
                <div class="name" style="padding-top: 10px; font-size: 50px">{{ data.info.name }}</div>
                <div class="name" style="padding-bottom: 10px; font-size: 30px">
                    <span>{{ data.info.number }}</span>
                    {{ data.info.en_name }}
                </div>
            </div>
        </div>
        <div class="right">
            <div>
                <div class="title">干员印象</div>
                <div class="exInfo">{{ data.info.profile }}</div>
                <i class="exInfo">「{{ data.info.impression }}」</i>
            </div>
            {% if data.info.potential_item %}
            <div>
                <div class="title">信物</div>
                <div class="exInfo">{{ data.info.potential_item }}</div>
            </div>
            {% endif %}
            <div>
                <div class="title">天赋</div>
                {% for item in data.talents %}
                <div class="exInfo">
                    <div style="width: 120px">{{ item.talents_name }}</div>
                    <div style="width: calc(100% - 120px);padding-left: 10px">{{ item.talents_desc_html | safe }}</div>
                </div>
                {% endfor %}
            </div>
            <div>
                <div class="title">基建技能</div>
                {% for item in data.building_skills %}
                <div class="exInfo bs">
                    <div style="width: 60px">精英{{ item.bs_elite }}</div>
                    <div class="bs-icon"
                         style="background-image: url('{{ item.bs_icon_url }}')">
                    </div>
                    <div style="width: 100px">{{ item.bs_name }}</div>
                    <div style="width: calc(100% - 160px);padding-left: 10px">{{ item.bs_desc }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="skills">
                {% for item in data.skill_list %}
                <div class="skill-item">
                    <div style="width: 120px;text-align: center">
                        <div>
                            <img style="width: 80px"
                                 src="{{ item.skill_icon_url }}"
                                 alt="skill">
                        </div>
                        <div>{{ item.skill_name }}</div>
                    </div>
                    <div style="width: calc(100% - 240px);padding: 0 10px">
                        <div class="skill-type" style="margin-bottom: 5px">
                            <div class="t{{ item.sp_type }}">
                                {{ item.sp_type_text }}
                            </div>
                            <div>{{ item.skill_type_text }}</div>
                            {% if item.sp_cost %}
                            <div>
                                技力 {{ item.sp_init }}/{{ item.sp_cost }}
                            </div>
                            {% endif %}
                            {% if item.duration > 0 %}<div>持续 {{ item.duration }} 秒</div>{% endif %}
                        </div>
                        <div class="skill-desc">{{ item.description_html | safe }}</div>
                    </div>
                    <div class="skill-range">
                        {{ item.range_html | safe }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>
