<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="stage.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    {% if data %}
    <div>
        <div class="stage-title">{{ data.code }} {{ data.name }}</div>
        <div class="stage-info">
            <div>
                <div class="info-detail">
                    <div>所属：{{ data.stage_type_name }}</div>
                    <div>难度：{{ data.difficulty_name }}</div>
                    <div>推荐等级：{{ data.dangerLevel }}</div>
                    <div>消耗理智：{{ data.apCost }}</div>
                    <div>部署上限：{{ data.characterLimit }}</div>
                    <div>目标耐久：{{ data.maxLifePoint }}</div>
                    <div>初始费用：{{ data.initialCost }}/{{ data.maxCost }}</div>
                </div>
                <br>
                <div>{{ data.description_html|safe }}</div>
            </div>
            <div class="stage-map">
                {% if data.zone_map_paths %}
                    {% for path in data.zone_map_paths %}
                    <img src="{{ path }}" alt="">
                    {% endfor %}
                {% else %}
                    <img src="{{ data.map_path }}" alt="">
                {% endif %}
            </div>
        </div>
        {% if data.enemies %}
        <div class="section-title" style="color: #ff6900">敌方单位列表</div>
        <div class="enemy-info">
            {% for item in data.enemies %}
            <div class="enemy-item">
                <div class="enemy-avatar">
                    <img style="width: 100%" src="{{ item.enemy_icon_path }}" alt="" onerror="this.src='./img/enemy.png'">
                    <span class="tag {{ item.enemyLevel }}">{{ item.level_name }}</span>
                </div>
                <div style="padding: 10px 5px">
                    <div style="color: #ff6900">{{ item.name }}</div>
                    <div>{{ item.attackType }}</div>
                    <div style="font-size: 16px;">数量：{{ item.count }}</div>
                    <div style="font-size: 16px;">等级：{{ item.ref_level }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if data.drop_type_items %}
        <div class="section-title" style="color: #42a5f5">材料掉落详情</div>
        {% for type, items in data.drop_type_items.items() %}
        {% if items %}
        <div class="drop-info">
            <div>{{ data.drop_type_names[type] }}</div>
            {% if type == 'NORMAL' %}
            <img class="item-icon" src="{{ data.exp_icon_path }}" alt="exp">
            <img class="item-icon" src="{{ data.gold_icon_path }}" alt="gold">
            {% endif %}
            {% for item in items %}
            <img class="item-icon" src="{{ item.icon_path }}" alt="{{ item.name }}">
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>
</body>
</html>
